body {
    background-color: #f5f7fa;

}

.navbar-default{
    border-radius: 0;
    background-color: #0055b4 !important;
    padding: 10px;
    padding-left: 30px;
}

.navbar-default .navbar-brand{
    color:white;
    padding-right: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
